// Variables 
$primary-color: #96D9D6;
$secoundary-color: #4682B4;
$powderblue-color:#B0E0E6;

$small-space: 10px;
$medium-space: 20px;
$large-space: 30px;

$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;
$font-xlarge: 48px;
