  
body{
   background-color: rgb(187, 167, 167);
   display: grid;
   justify-content:center;
   align-content:end;
   background-color: #114e67;
}

.header {
   display: flex;
   color: aliceblue;
   background-color: #96D9D6;
   width: 50%;
   justify-content: center;
}


 .main_btnDisplay {
    display: grid;
    border: 1rem solid #96D9D6;
    border-radius: 50%;
    grid-template-columns: repeat(4, 1f);
    grid-template-rows: auto;
    /* margin-left: 2rem; */
    width:90vw; /* new edit*/
    max-width: 400px; /* new edits*/
    font-size: clamp(14px, 4vw, 28px); /* new edits*/
    /* background-image: ; */
    
   
}
.main_btnDisplay {
   background-image: url(https://i.pinimg.com/originals/63/ac/97/63ac975f78cd87af32f0d31ac609f49a.gif);
   background-size: 100% 100%;
   padding: 20%;
}

 
 .output_Screen {
   border: solid .2rem #114e67; /* this is the border*/
   font-size:3rem; 
   overflow: auto;
   overflow-y: hidden;
   grid-area: 1/1/2/5;
   background-color:  #e4f9ff;
   border-radius: 50%;
   padding: 5%;
 }
 
.screenOutput{
   color: #114e67;
}
 input {
   color: white;
   box-shadow: #114e67
 }
 input:hover {
   background-color: #114e67;
 }
input {
   font-size: 2rem;
   background-color: #96D9D6;
   border-radius: 45%;
}
input:hover{
    border-radius: 25%;
}
 #division {
   grid-area: 2/1;
 }
 #backSpace{
   grid-area: 2/2/2/5;
 }
 #seven{
   grid-area: 3/1;
 }
 #eight {
   grid-area: 3/2;
 }
 #nine {
   grid-area: 3/3;
 }
 #four{
   grid-area: 4/1;
 }
 #five {
   grid-area: 4/2;
}
   #six{
      grid-area: 4/3;
   }
   #one {
      grid-area: 5/1/5/1;
   }
   #two{
      grid-area: 5/2/5/2;
   }
   #three{
      grid-area: 5/3/5/3;
   }
   #multiplication {
      grid-area: 3/4/3/4;
   }
   #subtraction{
      grid-area: 4/4/4/4;
   }
   #addition{
      grid-area: 5/4/5/4;
   }
   #decimal{
      grid-area: 6/1/6/1;
   }
   #zero{
      grid-area: 6/2/6/2;
   }
   #equal {
      grid-area: 6/3/6/5;
   }
   #clear {
      grid-area: 7/1/7/5;
   }
   .footer { 
      color:aliceblue;
   }


/* Small screens (phones) */
@media screen and (max-width: 480px) {
  .main-container { 
    width: 90vw;
    font-size: 4vw;
    padding: 10px;
   
  }

  .main_btnDisplay {
    display: grid;
    border: .5rem solid #96D9D6;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 400px; /* new edits*/
    font-size: clamp(14px, 4vw, 28px); /* new edits*/
  }
  .header {
   display: flex;
   color: aliceblue;
   background-color: #96D9D6;
   width: 480px;
   padding: 2px;
   margin-left: 10px;
}
}
/* ^^^ Small screen */

/* Medium screens (tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main-container { 
    width: 60vw;
    font-size: 2.5vw;
   margin-left: 100px;
   margin-top: 100px;
  }
  .main_btnDisplay {
    display: grid;
    border: 3rem solid #96D9D6;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 50px;
  }
  .header {
   display: flex;
   color: aliceblue;
   background-color: #96D9D6;
   width: 1000px;
   /* padding: 2px; */
   /* margin-left: 10px; */
}
}
/* ^^^ Medium screen */

/* Large desktop screens */
@media screen and (min-width: 1025px) {
  .main-container { 
    width: 100vw;
    max-width: 900px;
    font-size: 30px;
    margin-left:500px;
    margin-top: 100px;
  }
  .main_btnDisplay {
    display: grid;
    border: 4rem solid #96D9D6;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .header {
   /* display: flex; */
   color: aliceblue;
   background-color: #96D9D6;
   width: 2025px;
}
}
